{% extends "index.html" %}

{% block content %}
      <div class="container-fluid col-lg-8 col-lg-offset-2 row text-center">
      <h2>Moderator panel</h2>
      </div>
      <div class="container-fluid col-lg-8 col-lg-offset-2 row text-center">
      <ul style="list-style-type: none; padding-left: 0px;">
        <li> <a href="/add-user">Add user</a> </li>
        <li> <a href="/activate-user">Activate user</a> </li>
        <li> <a href="/view-resources">View submitted resources</a></li>
        <li> Change password </li>
      </ul>
      </div>
{% endblock %}
